<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helper.mistletoe"
    android:versionCode="14"
    android:versionName="2.0.11" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <!-- 所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- 短信发送 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取设备号 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动 -->
    <!-- 扫二维码 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 判断前后台运行 -->
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- 允许读取底层系统日志 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 允许访问震动设备 -->
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <!-- 百度地图 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="MistletoeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="FbkGmk08tpEVaRhQoY3vNNGX" />
        <!-- 测试 49ug8blMSUjKRk2oIp72xeIn -->
        <!-- 上线 FbkGmk08tpEVaRhQoY3vNNGX -->
        <!-- 测试 5A:98:57:37:60:F6:CA:A7:14:17:EB:B3:A3:E5:4F:60:19:E3:82:A5;com.helper.mistletoe -->
        <!-- 上线 1F:5E:8D:46:E2:AB:68:5D:D5:76:FB:8A:87:20:31:00:E5:F7:C2:B0;com.helper.mistletoe -->

        <activity
            android:name=".Main_Activity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.helper.mistletoe.v.viewflow.DetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".util.TestActivity_Util"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.Login_Activity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".c.ui.Login_InitInfo_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".c.ui.MainFragmentActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        
        <activity
            android:name=".c.ui.ContactHelperActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".c.ui.UploadAddressBookActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".c.ui.Target_Create_Activity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".c.ui.Target_HistoryTarget_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.Target_Details_Activity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
       
        <activity
            android:name=".c.ui.HelperDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.PublicDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.RecommendHelperActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.NewHelperActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.BlackHelperActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.MySettingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.HealthIndexActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.RollDiceActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.MipcaActivityCapture"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.RollListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.PersonalEditActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.ClauseActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.IntroduceActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.ZxingOtherActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.FeedBackActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.DeviceActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.PersonalActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.PortraitActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.SelectGroupMemberActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.GroupMemberActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.SelectTargetMemberActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.SelectCantactsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.ImageShower"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.SelectScheduleMemberActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.SelectScheduleMember_TemActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.SelectScheduleMember_newActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.RoutePlanActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.LocationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.PoiSearchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" 
            android:theme="@style/Transparent">
        </activity>
        <activity
            android:name=".c.ui.ZxingDialogActivity"
            android:label="@string/app_name"
            android:theme="@style/ZxingDialogStyle" >
        </activity>
        <activity
            android:name=".c.ui.GroupCreateDialogActivity"
            android:label="@string/app_name"
            android:theme="@style/CreateGroupDialogStyle" >
        </activity>
        <activity
            android:name=".c.ui.TaskCreateDialogActivity"
            android:label="@string/app_name"
            android:theme="@style/TaskDialogStyle" >
        </activity>
        <activity
            android:name=".c.ui.TaskUpdateDialogActivity"
            android:label="@string/app_name"
            android:theme="@style/TaskDialogStyle" >
        </activity>
        <activity
            android:name=".c.ui.UpdateMemoNameDialogActivity"
            android:label="@string/app_name"
            android:theme="@style/CreateGroupDialogStyle" >
        </activity>
        <activity
            android:name=".c.ui.AddHelperDialogActivity"
            android:label="@string/app_name"
            android:theme="@style/CreateGroupDialogStyle" >
        </activity>
        <activity
            android:name=".c.ui.GroupUpdateDialogActivity"
            android:label="@string/app_name"
            android:theme="@style/CreateGroupDialogStyle" >
        </activity>
        <activity
            android:name=".c.ui.GroupListDialogActivity"
            android:label="@string/app_name"
            android:theme="@style/CreateGroupDialogStyle" >
        </activity>
        <activity
            android:name=".c.ui.HoloWheelActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name=".c.ui.MyDialogActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name=".c.ui.RespondDuangDialogActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name=".c.ui.RespondRemindDialogActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name=".c.ui.RespondNewDeviceDialogActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        
        <!-- create template activity theme -->
        <activity
            android:name=".c.ui.TemplateListDialogActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".c.ui.Schedule_ShowImage_Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".c.ui.Target_TargetMember_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.Schedule_ReadingState_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.OperationTipsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.Schedule_CostList_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".c.ui.Schedule_Cost_Activity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".c.ui.Schedule_Cost_Details_Activity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name=".c.service.ContacterSyncService"
            android:persistent="true" >
        </service>

        <!-- 广播注册:程序内部广播 -->
        <receiver android:name="com.helper.mistletoe.receiver.IntentReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2" >
            <intent-filter android:priority="0x7fffffff" >

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- APP实现的Receiver，用于接收消息和结果反馈 -->
        <!-- com.tencent.android.xgpushdemo.CustomPushReceiver需要改为自己的Receiver -->
        <receiver android:name="com.helper.mistletoe.receiver.MessageReceiver" >
            <intent-filter>

                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>
        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->


        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理 -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="true" >
            <intent-filter>

                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action" -->
                <action android:name="" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />
        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.helper.mistletoe.PUSH_ACTION" /> <!-- "应用包名.PUSH_ACTION" -->
            </intent-filter>
        </service>

        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100100840" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="A6UTD1EW136S" />
    </application>

</manifest>